<table class="ui celled table unstackable">
  <tbody>
    {{#each tasksList as |task|}}
      {{single-task task=task}}
    {{else}}
      <tr><td colspan="4"><div class="ui center aligned">no results</div></td></tr>
    {{/each}}
  </tbody>
</table>
