<td width="5%" class="task-status" {{action 'toggleTaskStatus'}}>
  {{#if task.isCompleted}}
    <div class="ui green ribbon label">Done</div>
  {{else}}
    <div class="ui ribbon label">New</div>
  {{/if}}
</td>
<td>{{single-task-description description=task.description id=task.id}}</td>
<td width="5%">
  <button class="ui red small icon button" {{action 'deleteSingleTask'}}>
    Delete
  </button>
</td>
