<!-- new-task -->
{{new-task}}
<!-- /new-task -->

<!-- manage-tasks -->
<h6 class="ui horizontal divider header">
  Manage tasks
</h6>
{{manage-tasks}}
<!-- /manage-tasks -->

<!-- tasks-list -->
<div class="ui segment piled">
  <h6 class="ui horizontal divider header">
    Your tasks
  </h6>
  {{tasks-list tasks=model}}
</div>
<!-- /tasks-list -->
